nav {
  color: #ffffff;
  background-color: #4056A1;
  height: 120px;
  width: 100%;
  position: fixed;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span {
  font-family: 'Bungee';
  padding: 0 1.5em;
  line-height: 5;
}

nav span i {
  color: red;
  animation: bounce 1.5s infinite;
  animation-timing-function: linear;
}

.top-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 2;
  color: white;
}

.top-left {
  font-size: 100%;
}

#scrollUpButton{
  height: 30px;
  width: 30px;
  color: white;
  background-color: #4056A1;
  margin: 5px;
}

#navAngleIcon {
  animation: mover 1s infinite alternate;
}


