nav {
  color: #ffffff;
  background-color: #4056A1;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: space-between;
  z-index: 1;
}

span {
  font-family: 'Bungee';
  padding: 0 1.5em;
}

.top-right {
  display: flex;
  align-items: center;
  flex-direction: column;
}