form {
  background-color: white;
  width: 100%;
}

textarea {
  width: 100%;
  border: 0px;
  border-bottom: 5px solid black;
}

textarea::placeholder {
  color: black;
  font-size: 100%;
}

.container {
  background-color: aliceblue;
  padding-left: 10%;
  padding-right: 10%;

}

.new-tweet {
  display: flex;
  background-color: #00A8CC;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.bottom {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.new-tweet  button {
  cursor: pointer;
  font-family: 'Bungee', cursive;
  font-size: 20px;
}

.counter {
  font-family: 'Bungee', cursive;
  font-size: 30px;
  color: green;
}

.counter-red {
  color: red;
}

/* -------------------------------------- */

article {
  display: block;
  border: 5px solid black;
  padding: 10px;
}

article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article header > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article header div img {
  margin-right: 10px;
}

article:hover {
  box-shadow: 5px 5px #00A8CC;
}


article footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-footer-right > i {
  margin: 0 3px;
}

article > p {
  width: 100%;
  border-bottom: 3px solid black;
  padding: 35px;
  margin-bottom: 15px;
}

.fa-flag:hover {
  color: blue;
}

.fa-retweet:hover {
  color: blue;
}

.fa-heart:hover {
  color: blue;
}

.person-name {
  margin: auto;
  font-weight: 500;
}

.new-tweet > div {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
  align-items: center;
  color:  yellow;
  border: 5px solid yellow;
}

#alertMessage {
  color: red;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

#navAngleIcon {
  animation: mover 1s infinite alternate;
}

